<%# app/views/conflicts/_synergy_card.html.erb %>
<%# locals: (synergy:) %>
<article class="conflict-card conflict-card--synergy">
  <div class="conflict-card__top">
    <div class="conflict-card__product">
      <div class="conflict-card__product-icon">
        <i class="fa-solid fa-bottle-droplet"></i>
      </div>
      <div>
        <p class="conflict-card__product-name">
          <%= synergy[:user_product_a].product.name %>
        </p>
        <span class="conflict-card__ingredient">
          <%= synergy[:ingredient_a].name %>
        </span>
      </div>
    </div>

    <div class="conflict-card__cross conflict-card__cross--synergy">
      <i class="fa-solid fa-plus"></i>
    </div>

    <div class="conflict-card__product">
      <div class="conflict-card__product-icon">
        <i class="fa-solid fa-bottle-droplet"></i>
      </div>
      <div>
        <p class="conflict-card__product-name">
          <%= synergy[:user_product_b].product.name %>
        </p>
        <span class="conflict-card__ingredient">
          <%= synergy[:ingredient_b].name %>
        </span>
      </div>
    </div>
  </div>

  <div class="conflict-card__body">
    <div class="conflict-card__alert">
      <p><%= synergy[:message] %></p>
    </div>
    <div class="conflict-card__tip conflict-card__tip--synergy">
      <i class="fa-solid fa-sparkles"></i>
      <span><%= synergy[:recommendation] %></span>
    </div>
  </div>

  <div class="conflict-card__footer">
    <a href="<%= chat_messages_path(q: "#{synergy[:ingredient_a].name} + #{synergy[:ingredient_b].name} : comment optimiser ?") %>" class="conflicts-secondary-btn">
      <span>Demander à l'IA</span>
      <i class="fa-solid fa-arrow-right"></i>
    </a>
  </div>
</article>
